[build]
  base = "client"
  command = "npm install && npm run build"
  publish = ".next"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_API_URL = "https://nova-backend-htzd.onrender.com"


